/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
#mapid{
    height: 80%;
    width: 85%;
    margin-left: 7.5%;
}

.input{
    text-align: center;
    margin: 10px
}

.button{
    position: relative;
    float: right;
    right: 40%;
    height: 80px;
    width: 80px;
    margin-top: 7px;
}